@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700');

.home-container{
    margin-top: 100px;
    padding-left: 120px;
}

.home-title{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.text-subtitle{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.text-subtitle-email{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    line-height: 36px;
    color: #1890FF;
}