@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700');

* {
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

body, html {
  padding: 0;
  margin: 0;
}

.text-primary {
  color: #262626;
}

.btn-container{
  display: flex;
}

.btn-icon{
  background: #1890FF;
  border-radius: 4px;
  height: 40px;
  width: auto;
  cursor: pointer;
}

.btn-icon-text{
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}